*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-size: 130%;
  background-image: url(../img/jumbo.png);
}

.padding-title{
  font-size: 2.4em;
  padding-bottom: 30px;
}

img{
  max-width: 100%;
}

.list-flex a{
  font-size: 0.8em;
  color: white;
  text-decoration: none;
}

.container-back{
  align-items: center;
  height: 65px;
  justify-content: center;
  display: flex;
}

.container-head{
  padding: 11px;
  height: 40px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 90px;
}

.space{
  width: 400px;
}

.list-flex{
  justify-content: space-between;
  display: flex;
}

.container-head li{
  list-style: none;
}

.button-small{
  border-radius: 20px;
  height: 29px;
  width: 55px;
  font-size: 0.7em;
}

.hero{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 290px;
}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}.focus-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.focus-content-gray{
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.pink{
}

.sky{
}

.img-focus{
  width: 440px
}
.frog-oni{
  margin: 50px 75px 60px 0px;

}
.mage{
  margin: 60px 0px 0px 60px;

}

.main-end{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.stars{
  background-size: 300px;
  background-image: url(../img/stars.svg);
}


.focus-end{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-footer{
  background-color: #23272a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 426px;
}

.grow{
  width: 700px;
  display: flex;
}
.center-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-pink{
  margin-bottom: 20px;
  flex-grow: 2;
  height: 400px;
  background-color: #f08080;
}

.foot-sky{
  margin-bottom: 20px;
  flex-grow: 1;
  background-color: #20b2aa;
}

.bot-footer{
  display: flex;
  justify-content: center;
  background-color: #23272a;
}

.footer-container{
  background-color: #7fffd4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 40px;

}

.logo-footer{
  background-color: #fdb0b4;
  height: 20px;
  width: 50px;
  display: flex; justify-content: center;
}

.button-footer{
  background-color: #fdb0b4;
  height: 20px;
  width: 60px;
  display: flex;
  justify-content: center;
}
